
<div *ngIf="child">
    <h2><span jhiTranslate="totoSchedulerApp.child.detail.title">Child</span> {{child.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="totoSchedulerApp.child.registerNumber">Register Number</span></dt>
        <dd>
            <span>{{child.registerNumber}}</span>
        </dd>
        <dt><span jhiTranslate="totoSchedulerApp.child.name">Name</span></dt>
        <dd>
            <span>{{child.name}}</span>
        </dd>
        <dt><span jhiTranslate="totoSchedulerApp.child.comment">Comment</span></dt>
        <dd>
            <span>{{child.comment}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'child/'+ child.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
