<div>
    <h2>
        <span jhiTranslate="totoSchedulerApp.therapy.home.title">Therapies</span>
        <button class="btn btn-primary float-right create-therapy" [routerLink]="['/', { outlets: { popup: ['therapy-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="totoSchedulerApp.therapy.home.createLabel">
            Create new Therapy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="therapies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="totoSchedulerApp.therapy.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="totoSchedulerApp.therapy.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="therapyEntryId"><span jhiTranslate="totoSchedulerApp.therapy.therapyEntry">Therapy Entry</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="totoSchedulerApp.therapy.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="periodId"><span jhiTranslate="totoSchedulerApp.therapy.period">Period</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="childId"><span jhiTranslate="totoSchedulerApp.therapy.child">Child</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let therapy of therapies ;trackBy: trackId">
                <td><a [routerLink]="['../therapy', therapy.id ]">{{therapy.id}}</a></td>
                <td>{{therapy.comment}}</td>
                <td>{{therapy.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="therapy.therapyEntryId">
                        <a [routerLink]="['../therapy-entry', therapy.therapyEntryId  ]" >{{therapy.therapyEntryId}}</a>
                    </div>
                </td>
                <td>
                    {{therapy.userLogin}}
                </td>
                <td>
                    <div *ngIf="therapy.periodId">
                        <a [routerLink]="['../period', therapy.periodId  ]" >{{therapy.periodId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="therapy.childId">
                        <a [routerLink]="['../child', therapy.childId  ]" >{{therapy.childId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../therapy', therapy.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'therapy/'+ therapy.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'therapy/'+ therapy.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
