
<div *ngIf="therapist">
    <h2><span jhiTranslate="totoSchedulerApp.therapist.detail.title">Therapist</span> {{therapist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="totoSchedulerApp.therapist.title">Title</span></dt>
        <dd>
            <span>{{therapist.title}}</span>
        </dd>
        <dt><span jhiTranslate="totoSchedulerApp.therapist.comment">Comment</span></dt>
        <dd>
            <span>{{therapist.comment}}</span>
        </dd>
        <dt><span jhiTranslate="totoSchedulerApp.therapist.user">User</span></dt>
        <dd>
            {{therapist.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'therapist/'+ therapist.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
